{% extends "products/base.html" %}

{% block content %}
    <table>
        <tr>
            <td>Product name: </td>
            <td>{{ product.name }}</td>
            <td><a href=""><i class="bi bi-dash-square"></i></a></td>
        </tr>
        <tr>
            <td>Price:</td>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td>{{ basketproduct.quantity }}</td>
        </tr>
        <tr>
            <td>Sum: </td>
            <td></td>
        </tr>
        <tr>
            <td>Total: </td>
            <td></td>
        </tr>
    </table>
    <a href="{% url "index" %}">To Main</a>

{% endblock %}