{% extends "products/base.html" %}

<h1>Shopping Cart</h1>
{% block content %}
    <table>

        {% for cart_product in cart_products %}
            <tr>
                <td> {{ cart_product.product.name }} </td>
                <td> {{ cart_product.product.price }} </td>
                <td> {{ cart_product.quantity }} </td>
                <td> {{ cart_product.sum }} </td>
                <td> <a href="{% url 'delete_cart_product' cart_product.pk %}"> Delete </a> </td>
            </tr>
        {% endfor %}
    </table>
    <h3> {{ total_sum }} </h3>
{% endblock %}